<form method="post" id="login">
    <input type="email" value="" placeholder="ingrese email">
    <br><br>
    <input type="password" name="password" placeholder="ingresa la contrasena">
    <br><br>
    <input type="submit" value="login">
</form>

<script type="text/javascript">
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)

    formLogin.addEventListener('submit', event => {
        event.preventDefault()

        fetch('/api/signin', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            localStorage.setItem('token', data.token)
        })

    })
</script>